In [4]:
import pandas as pd
import re

In [25]:
data_list = pd.read_csv(r'C:\Users\pelik\python\diplomopis\spb_geo\spb_geo1.csv',sep = ';')

In [26]:
data_list

       latitude  longitude
0     30.256963  59.989016
1     30.325223  60.010400
2     30.353177  60.013645
3     30.365993  60.032899
4     30.351412  59.850895
...         ...        ...
7464  30.470085  59.821011
7465  30.472548  59.820060
7466  30.301931  59.851555
7467  30.302590  59.851619
7468  30.302688  59.853404

[7469 rows x 2 columns]