In [1]:
import pandas as pd

* курс доллара к рублю
* ввп рф
* цена нефти
* инфляция год
* ключ ставка цбрф

In [14]:
brent = pd.read_csv('data/Brent.csv',sep=',')

In [15]:
brent

            Date  Price   Open    Max    Min   Volume Change %
0     10.05.2024  82.79  84.21  84.53  82.70  311.45K   -1.30%
1     09.05.2024  83.88  83.79  84.33  83.45  309.45K    0.36%
2     08.05.2024  83.58  83.02  83.82  81.71  395.43K    0.71%
3     07.05.2024  82.99  83.74  83.82  82.42      NaN   -0.73%
4     06.05.2024  83.60  83.24  83.83  82.78      NaN    0.42%
...          ...    ...    ...    ...    ...      ...      ...
6000  08.01.2001  24.43  25.33  25.63  24.40   27.82K   -2.98%
6001  05.01.2001  25.18  25.40  26.02  25.15   34.99K   -0.67%
6002  04.01.2001  25.35  25.09  25.85  24.77   32.81K    1.28%
6003  03.01.2001  25.03  24.50  25.30  24.20   36.40K    3.00%
6004  02.01.2001  24.30  24.40  24.90  24.20   25.21K    1.80%

[6005 rows x 7 columns]

In [17]:
inflation = pd.read_csv('data/inflation.csv',sep=',')

In [18]:
inflation

,Year,January,February,March,April,May,June,July,August,September,October,November,December,Total
0,2001,2.76,2.28,1.86,1.79,1.78,1.62,0.45,0.01,0.60,1.09,1.36,1.60,18.58
1,2002,3.09,1.16,1.08,1.16,1.69,0.53,0.72,0.09,0.40,1.07,1.61,1.54,15.06
2,2003,2.40,1.63,1.05,1.02,0.80,0.80,0.71,-0.41,0.34,1.00,0.96,1.10,11.99
3,2004,1.75,0.99,0.75,0.99,0.74,0.78,0.92,0.42,0.43,1.14,1.11,1.14,11.74
4,2005,2.62,1.23,1.34,1.12,0.80,0.64,0.46,-0.14,0.25,0.55,0.74,0.82,10.91
5,2006,2.43,1.66,0.82,0.35,0.48,0.28,0.67,0.19,0.09,0.28,0.63,0.79,9.00
6,2007,1.68,1.11,0.59,0.57,0.63,0.95,0.87,0.09,0.79,1.64,1.23,1.13,11.87
7,2008,2.31,1.20,1.20,1.42,1.35,0.97,0.51,0.36,0.80,0.91,0.83,0.69,13.28
8,2009,2.37,1.65,1.31,0.69,0.57,0.60,0.63,0.00,-0.03,0.00,0.29,0.41,8.80
9,2010,1.64,0.86,0.63,0.29,0.50,0.39,0.36,0.55,0.84,0.50,0.81,1.08,8.78
10,2011,2.37,0.78,0.62,0.43,0.48,0.23,-0.01,-0.24,-0.04,0.48,0.42,0.44,6.10
11,2012,0.50,0.37,0.58,0.31,0.52,0.89,1.23,0.10,0.55,0.46,0.34,0.54,6.58
12,2013,0.97,0.56,0.34,0.51,0.66,0.42,0.82,0.14,0.21,0.57,0.56,0.51,6.45
13,2014,0.59,0.70,1.02,0.90,0.90,0.62,0.49,0.24,0.65,0.82,1.28,2.62,11.36
14,2015,3.85,2.22,1.21,0.46,0.35,0.19,0.80,0.35,0.57,0.74,0.75,0.77,12.91
15,2016,0.96,0.63,0.46,0.44,0.41,0.36,0.54,0.01,0.17,0.43,0.44,0.40,5.38
16,2017,0.62,0.22,0.13,0.33,0.37,0.61,0.07,-0.54,-0.15,0.20,0.22,0.42,2.52
17,2018,0.31,0.21,0.29,0.38,0.38,0.49,0.27,0.01,0.16,0.35,0.50,0.84,4.27
18,2019,1.01,0.44,0.32,0.29,0.34,0.04,0.20,-0.24,-0.16,0.13,0.28,0.36,3.05
19,2020,0.40,0.33,0.55,0.83,0.27,0.22,0.35,-0.04,-0.07,0.43,0.71,0.83,4.91
20,2021,0.67,0.78,0.66,0.58,0.74,0.69,0.31,0.17,0.60,1.11,0.96,0.82,8.39
21,2022,0.99,1.17,7.61,1.56,0.12,-0.35,-0.39,-0.52,0.05,0.18,0.37,0.78,11.92
22,2023,0.84,0.46,0.37,0.38,0.31,0.37,0.63,0.28,0.87,0.83,1.11,0.73,7.42

In [25]:
kluch = pd.read_csv('data/kluch.csv',sep=';')

In [26]:
kluch

           date  stavka
0    16.02.2024    16.0
1    15.12.2023    16.0
2    27.10.2023    15.0
3    15.09.2023    13.0
4    15.08.2023    12.0
..          ...     ...
134  02.06.1993   110.0
135  30.03.1993   100.0
136  23.05.1992    80.0
137  10.04.1992    50.0
138  01.01.1992    20.0

[139 rows x 2 columns]

In [33]:
usd = pd.read_csv('data/USD_RUB.csv',sep=',')

In [34]:
usd

            Date    Price     Open      Max      Min Change %
0     10.05.2024  92.2550  91.9500  92.4407  91.7275    0.33%
1     08.05.2024  91.9500  91.1075  92.1281  91.1075    0.92%
2     07.05.2024  91.1075  91.3475  91.4175  90.9277   -0.26%
3     06.05.2024  91.3475  91.6000  92.0779  90.8618   -0.28%
4     03.05.2024  91.6000  92.0500  92.1625  91.4504   -0.49%
...          ...      ...      ...      ...      ...      ...
5841  20.09.2001  29.4300  29.4550  29.4760  29.4030   -0.08%
5842  19.09.2001  29.4530  29.4600  29.4810  29.4300   -0.02%
5843  18.09.2001  29.4600  29.4450  29.4750  29.4400    0.00%
5844  17.09.2001  29.4610  29.4600  29.4730  29.4400   -0.04%
5845  14.09.2001  29.4730  29.3500  29.4800  29.3500    0.00%

[5846 rows x 6 columns]

In [47]:
vvp = pd.read_csv('data/vvp.csv',sep = ';')

In [45]:
# vvp['vvp'] = vvp['vvp']*1000000000.0

In [48]:
vvp

    year     vvp
0   2001   328.5
1   2002   370.1
2   2003   461.5
3   2004   633.3
4   2005   817.7
5   2006  1060.9
6   2007  1393.4
7   2008  1779.1
8   2009  1307.9
9   2010  1633.1
10  2011  2046.6
11  2012  2191.5
12  2013  2288.4
13  2014  2048.8
14  2015  1356.7
15  2016  1280.6
16  2017  1575.1
17  2018  1653.0
18  2019  1695.7
19  2020  1488.1
20  2021  1843.1
21  2022  2272.3
22  2023  1997.0

In [51]:
magnit = pd.read_csv('data/MGNT.csv',sep=',')

In [52]:
magnit

            Date    Price     Open      Max      Min   Volume  Change
0     10.05.2024  8.370.5  8.250.0  8.380.5  8.250.0  104.68K     1.50
1     08.05.2024  8.247.0  8.268.0  8.311.0  8.238.0  105.00K    -0.24
2     07.05.2024  8.267.0  8.210.0  8.294.0  8.203.5  134.66K     0.70
3     06.05.2024  8.209.5  8.269.0  8.306.5  8.185.0   96.38K    -0.61
4     03.05.2024  8.259.5  8.284.0  8.321.0  8.228.5  133.21K    -0.28
...          ...      ...      ...      ...      ...      ...      ...
4425  16.06.2006    545.0    540.1    545.0    540.1    0.80K    -8.71
4426  15.06.2006    597.0    595.0    620.0    595.0    6.50K     0.00
4427  14.06.2006    597.0    600.0    600.0    595.0    3.10K    -7.30
4428  08.06.2006    644.0    635.3    644.0    630.1    0.90K     1.26
4429  07.06.2006    636.0    638.0    641.0    633.0    2.00K   -12.88

[4430 rows x 7 columns]