In [1]:
import pandas as pd

In [2]:
ardf = pd.read_csv('arenda_geocoder_data.csv',index_col=0)

In [4]:
ardf.columns

Index(['url', 'seller_url', 'title', 'squares', 'full_price',
       'price_per_square', 'floor', 'free', 'city', 'district', 'okrug',
       'street', 'house_number', 'description', 'sub_near', 'highway_near',
       'current_floor', 'max_floor', 'address', 'latitude', 'longitude'],
      dtype='object')

In [5]:
needed_cols = ['squares','full_price','max_floor','latitude','longitude']

In [6]:
ardf = ardf[needed_cols]

In [14]:
ardf = ardf.rename(columns={'full_price': 'rent_per_month'})

In [15]:
ardf.head()

   squares  rent_per_month  max_floor   latitude  longitude
0     22.9         29770.0        3.0  30.343905  59.965966
1     91.0        110000.0       16.0  30.200363  59.934109
2     70.0        110000.0       12.0  30.344677  59.873735
3    109.5        330000.0       18.0  30.262355  60.006575
4     77.5        116250.0       25.0  30.446151  59.902303

In [12]:
ordf = pd.read_csv(r'C:\Users\Ростислав\python\for_article\gotov_data.csv',index_col = 0)
ordf['rent_per_month'] = 0.0

In [13]:
ordf.head()

,price_per_square,squares,max_floor,latitude,longitude,Nevskii prospekt,parkings_1km,rent_per_month
0,311480.0,131.63,2,30.082621,59.724677,28.29,47.0,0.0
1,254997.0,145.10,5,30.316138,59.911854,1.73,55.0,0.0
2,353742.0,73.50,7,30.301127,59.912368,3.13,55.0,0.0
3,190000.0,33.90,9,30.449978,59.956836,13.70,15.0,0.0
4,166667.0,89.40,5,30.325543,59.926372,0.50,26.0,0.0

In [16]:
ardf.to_csv('ardf.csv', encoding='utf-8')
ordf.to_csv('ordf.csv', encoding='utf-8')